@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    min-height: 100vh;
    background-color: rgb(83, 208, 167);
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-height: 85vh;
    border-radius: 12px;
    background-color: rgb(246, 243, 249);
    width: 85vw;
    gap: 5vw;
}
.hanging-rod{
    padding: 20px;
    padding-left: 50px;
}
.hanging-rod img{
    width: 250px;
}
.word-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#word{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
#word li{
    width: 25px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    text-transform: lowercase;
    border-bottom: 2.5px solid black;
    color: #333;
    margin: 20px 0px;
}
#word li.filled{
    position: relative;
    bottom: 14px;
    border: none;
}
.topic{
    font-size: 27px;
    font-weight: bold;
    color: rgb(37, 32, 32);
    margin-right: 5px;
    margin-bottom: 5px;
}
.incorrect-count{
    font-size: 23px;
    font-weight: bold;
    color: rgb(236, 31, 31);
}
#alphabets{
    display: grid;
    grid-template: repeat(3,1fr)/repeat(7,1fr);
    margin-top: 30px;
    cursor: pointer;
}
.alphabet-set{
    width: 36px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 0px 10px;
    border-radius: 8px;
    margin: 5px;
    background-color: rgb(120, 215, 148);
    font-size: 24px;
}
.game-over{
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 2;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}
.inside-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    padding: 50px;
    gap: 10px;
}
.inside-wrapper img{
    width: 250px;
    margin-bottom: 20px;
}
#word-display{
    color: rgb(62, 62, 230);
}
.btn{
    padding: 10px;
    border-radius: 12px;
    background-color: rgb(119, 234, 152);
    color: white;
    transition: background-color 1s;
    font-weight: bold;
    margin-top: 10px;
}
.btn:hover{
    background-color: rgb(8, 217, 68);
}
@media (max-width:1075px) {
    body{
        padding: 10px;
    }
    .hanging-rod img{
        width: 220px;
    }
    #word{
        gap: 6px;
    }
    #word li{
        width: 21px;
        font-size: 24px;
    }
    .topic{
        font-size: 25px;
    }
    .incorrect-count{
        font-size: 18px;
    }
    #alphabets{
        margin-top: 25px;
    }
    .alphabet-set{
        width: 30px;
        font-size: 20px;
    }
}
@media (max-width:889px) {
    body{
        padding: 10px;
    }
    .wrapper{
        width: 95vw;
        gap: 5vw;
    }
    .hanging-rod img{
        width: 200px;
    }
}
@media (max-width:789px) {
    .wrapper{
        flex-direction: column;
        min-height: 100vh;
    }
    #alphabets{
        grid-template: repeat(2,1fr)/repeat(13,1fr);
        margin-top: 30px;
    }
    .inside-wrapper img{
    width: 220px;
}
}
@media (max-width:575px) {
    #alphabets{
        grid-template: repeat(3,1fr)/repeat(9,1fr);
        margin-top: 30px;
    }
    .inside-wrapper img{
        width: 190px;
    }
}
@media (max-width:419px) {
    #alphabets{
        grid-template: repeat(3,1fr)/repeat(7,1fr);
        margin-top: 30px;
    }
    .hanging-rod img{
        width: 180px;
    }
    #alphabets{
        margin-top: 12px;
    }
    .topic{
        font-size: 18px;
    }
    .incorrect-count{
        font-size: 14px;
    }
    .alphabet-set{
        width: 26px;
        font-size: 15px;
    }
    #word {
        gap: 4px;
    }
    #word li{
        width: 14px;
        font-size: 18px;
    }
    .inside-wrapper img{
        width: 180px;
    }
    .inside-wrapper{
        padding: 30px;
    }
}
@media (max-width:287px) {
    #alphabets{
        grid-template: repeat(4,1fr)/repeat(6,1fr);
        margin-top: 20px;
    }
    .hanging-rod img{
        width: 150px;
    }
    .topic{
        font-size: 16px;
    }
    .incorrect-count{
        font-size: 12px;
    }
    .alphabet-set{
        width: 21px;
        font-size: 12px;
    }
    #word {
        gap: 4px;
    }
    #word li{
        width: 10px;
        font-size: 13px;
        border-bottom: 2px solid black;
    }
    .wrapper{
        width: 98vw;
    }
    .inside-wrapper img{
        width: 150px;
    }
    .inside-wrapper{
        padding: 16px;
    }
}
@media (max-width:219px) {
    #alphabets{
        grid-template: repeat(5,1fr)/repeat(5,1fr);
        margin-top: 18px;
    }
    .hanging-rod img{
        width: 130px;
    }
    .topic{
        font-size: 14px;
    }
    .incorrect-count{
        font-size: 10px;
    }
    .alphabet-set{
        width: 18px;
        font-size: 10px;
    }
    #word {
        gap: 3px;
    }
    #word li{
        width: 8px;
        font-size: 11px;
        border-bottom: 1.5px solid black;
    }
    .wrapper{
        width: 100vw;
    }
    .inside-wrapper img{
        width: 110px;
    }
    .inside-wrapper{
        padding: 10px;
    }
}